:root {
    --primary-color: #432E30;
    --primary-color-light: #222222;
    --accent-color: #FF4500;
    --accent-color-light: #FFE4E4;
    --accent-color-dark: #FF4500;
    --white-color: #FAFBFC;
    --light-gray-color: #C6CBD1;
    --medium-gray-color: #959DA5;
    --dark-gray-color: #444D56;
    --bg-color: #F8F8FA;
    --code-bg-color: #F0E8E8;
}

.code {
    border-radius: 16px;
    font-family: Space Mono, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
    background: var(--bg-color);
    border: 1px solid var(--code-bg-color);
    color: var(--primary-color-light);
}

.code--block {
    white-space: pre-line;
    padding: 0 1.5rem;
}

.code--inline {
    padding: 3px 6px;
    font-size: 80%;
}